html {
    font-family: 'Merienda';
}

header {
    text-align: center;
}

h1.greeting {
    text-align: center;
    background-color: purple;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 5px;
}
h1 {
    text-align: center;
    background-color: gray;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
section {
    margin-top: 50px;
}
figcaption {
    margin-top: 10px;
}

footer {
    text-align: center;
}